$navbar-primary: #9d9d9d;
$component-distance: 1.5em;
$icon-button-padding: .3em;

$fonts-path: "../../../../fonts";

$body-bg: red;

/**
 * Bootstrap overwrite
 */

$gray-base: #0095dd;

$logo-blue: #2BBAED;

$gray-lightest:           lighten($gray-base, 95%) !default;