.blog {
	max-width: 600px;
	margin: 0 auto;
}

.blog h1 {
	text-align: center;
}

.blog .byline {
	text-align: center;
	color: $gray-light;
}

.blog .entry {
	margin-top: $padding-large-horizontal*2;
}

.blog .post {
	margin-top: 4em;
}