.blog {
	max-width: 600px;
	margin: 0 auto;
}

.blog h2 {
	text-align: center;
}

.blog .byline {
	text-align: center;
	color: $gray-light;
}

.blog .post {
	margin-bottom: $padding-large-horizontal*5;
}

.blog .entry {
	margin-top: $padding-large-horizontal*2;
}

.blog .post:last-child {
	margin-bottom: 0;
}