.submit-notification-icon {
	visibility: hidden;
	display: inline;
	margin-left: .3em;
	vertical-align: middle;
	font-size: 1.5em;
}

.submit-notification-icon.errors {
	visibility: visible;
	color: red;
}

.submit-notification-icon.ok {
	visibility: visible;
	color: green;
}


.submit-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.recaptcha {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

@media (max-width : $screen-sm) {

	.recaptcha {
		margin-bottom: 2em;
	}

	.mobile-center {
		text-align: center;
	}

	.submit-wrapper {
		display: block;
		width: 100%;

		input {
			width: 100%;
		}
	}
}