.help {
	display: none;
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	padding: 0;
	width: 100%;
	overflow: auto;

	@extend .alert;
	background-color: lighten($brand-success, 50%);
	border-color: $brand-success;
}

.help .wrap {
	display: table-row;
	width: 100%;
}

.show-help .help {
	display: table;
}

.help .tab-content {
	padding: 20px;
	display: table-cell;
	vertical-align: top;
}

.help h4 {
	font-weight: bold;
}

.help .btn {
	color: #fff;
}

.help .first-project {
	text-align: center;
	font-size: $font-size-large;
}

.help .first-project p {
	margin: 1.5em 0;
}

.help .first-project .btn-massive {
	margin-top: 1.5em;
}

.help .close {
	color: $text-color;
	position: absolute;
	top: 2px;
	right: 7px;
}

.help .help-menu {
	background-color: #fff;
	display: table-cell;
	list-style-type: none;
	padding: 5px 0;
	margin-right: 15px;
	margin-bottom: 0;
	width: 20%;
	vertical-align: top;
}

.help .help-menu li {
	padding: 5px 0;
}

.help .help-menu a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: $text-color;
}

.help .help-menu .active a {
	text-decoration: underline;
}

.show-help .help-number {
	border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 2px 6px;
    background: #2abf2f; /* Old browsers */
	background: -moz-linear-gradient(top, #2abf2f 0%, #28b62c 86%, #28b62c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2abf2f), color-stop(86%,#28b62c), color-stop(100%,#28b62c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2abf2f', endColorstr='#28b62c',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.show-help .help-pointer {
	border-radius: 5px;
	border: 2px dashed $brand-success;
	padding: 10px;

	&:after {
		border-radius: 5px;
	    display: inline-block;
	    cursor: pointer;
	    padding: 2px 6px;
	    background: #2abf2f; /* Old browsers */
		background: -moz-linear-gradient(top, #2abf2f 0%, #28b62c 86%, #28b62c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2abf2f), color-stop(86%,#28b62c), color-stop(100%,#28b62c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* IE10+ */
		background: linear-gradient(to bottom, #2abf2f 0%,#28b62c 86%,#28b62c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2abf2f', endColorstr='#28b62c',GradientType=0 ); /* IE6-9 */
		color: #fff;
	    margin-left: 5px;
		content: "?";
	}
}