.help {
	display: none;
	margin-top: 20px;

	@extend .alert;
	background-color: lighten($brand-success, 50%);
	border-color: $brand-success;
}

.help h4 {
	font-weight: bold;
}

.help .close {
	color: $text-color;
}

.help .help-pointer {
	border-radius: 5px;
    display: inline-block;
    padding: 2px 6px;
    background-color: $brand-danger;
    color: #fff;
}