.glyphicon-chevron-down,
.glyphicon-chevron-up {
	top: 2px;
}

.glyphicon-exclamation-sign {
	margin-right: 5px;
}

.glyphicon-refresh {
	animation-name: rotateThis;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.glyphicon-refresh.no-rotate {
	animation-name: none;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}