.jumbotron-page {
	text-align: center;
}

.jumbotron {
	position: relative;
	background: url(../img/splash.svg) 766px -459px no-repeat #69C1E0;
    background-size: 800px 1200px;
    color: #fff;
    min-height: 363px;
}

.platform {
	background-color: #03739C;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}