.jumbotron-page {
	text-align: center;
}

.jumbotron {
	background-color: #69C1E0;
	padding: 0;
}

.jumbotron .container {
	position: relative;
	background: url(../img/splash.svg) bottom right no-repeat;
    color: #fff;
    padding: 45px 0;
}

.platform {
	background-color: #03739C;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}

.jumbotron .container .text-wrapper {
	width: 50%;
	font-size: $font-size-base;
}

.jumbotron h1 {
	font-size: 47px;
	margin-bottom: 20px;
	margin-top: 0;
}

.jumbotron .button-wrapper {
	margin-top: 20px;
}

@media (max-width : $screen-sm) {
	.jumbotron {
		text-align: center;
	}

	.jumbotron .container .text-wrapper {
		width: 100%;
	}
}
