.jumbotron-page {
	text-align: center;
}

.jumbotron {
	position: relative;
	background: url(../img/splash.svg) 100% 0 no-repeat #69C1E0;
    color: #fff;
}

.platform {
	background-color: #03739C;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}