.loading-section {
	text-align: center;
	margin: 4em 0;
}

.loading-section.inline {
	text-align: left;
	font-style: italic;
	margin: 0;

	.glyphicon-refresh {
		font-size: inherit;
	}
}

.loading-section .glyphicon-refresh {
	animation-name: rotateThis;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}