.loading-section {
	text-align: center;
	margin: 4em 0;
}

.loading-section.inline {
	text-align: left;
	font-style: italic;
	margin: 0;

	.glyphicon-refresh {
		font-size: inherit;
	}
}

.loading-section .glyphicon-refresh {
	font-size: 75px;
}