.attributes-panel {
    text-align: center;
}

.home-panel h1,
.attributes-panel h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.home-panel {
    padding: 2.5em 0;
}

.home-panel h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-h4;
    text-align: center;
}

.home-panel-heading-divider { 
    display: block;
    width: 55px;
    background-color: $logo-blue;
    height: 2px;
    margin: 1em auto;
}

.home-panel-subheading {
    text-align: center;
    margin-top: 0;
}

.get-started {
    text-align: center;
    padding: 2.5em 0;
    color: #fff;

    .row {
        margin: 0;
    }

    h1 {
        margin-top: 0;
        color: #fff;
        margin-bottom: .5em;
    }
}

.get-started-wrapper {
    background: #03739C url("../img/pattern1.png"); 
}

.steps {
    padding-bottom: 2em;
    text-align: center;

    .glyphicon-download-alt {
        font-size: 60px;
        color: $logo-blue;
        border: 2px solid $logo-blue;
        border-radius: 150px;
        padding: 16px;
        text-align: center;
        padding-right: 19px;
        padding-bottom: 19px;
    }

    .glyphicon-th-list {
        font-size: 60px;
        color: $logo-blue;
        border: 2px solid $logo-blue;
        border-radius: 150px;
        padding: 18px;
        text-align: center;
    }

    .glyphicon-cog {
        font-size: 60px;
        color: $logo-blue;
        border: 2px solid $logo-blue;
        border-radius: 150px;
        padding: 19px 17px 17px 19px;
        text-align: center;
    }

    .row {
        margin-top: 2.2em;
    }

    h2 {
        margin-bottom: 25px;
    }

    .col-md-4 {
        padding: 0 75px; 

        p {
            margin-bottom: 0;
        }

        &:first-child {
            padding-left: 45px;
            padding-right: 95px;
        }
    }
}

.steps-wrapper {
    background-color: #fafafa;
}

@media (max-width : $screen-sm) {
    .steps .glyphicon-fast-forward {
        display: none;
    }

    .steps .col-md-4 {
        padding: 0 15px;

        &:first-child {
            padding: 0 15px;
        }
    }
}