.no-projects {
	text-align: center;
}

.projects {
	margin-top: $component-distance;
	border: 1px solid $table-border-color;
}

.project-item:last-child {
	border-bottom: 0;
}

.dropdown-toggle .count {
	margin-right: 4px;
}

.dropdown-toggle.one-branch {
	cursor: default;
}

.build-image-popover-content {
	display: none;
}

.project-item:nth-child(even) {
	background-color: #fff;
}

.projects-nav {
	margin-top: 1.5em;
}

.edit-branch-icon {
	margin-left: $padding-small-horizontal;
	vertical-align: middle;
	font-size: $font-size-large;
	cursor: pointer;
}

.close-edit-branch-icon {
	cursor: pointer;
	vertical-align: middle;
}

.edit-branch-form {
	margin-left: $padding-small-horizontal;

	button {
		display: inline-block;
		margin: 0 $padding-small-horizontal;
	}

	input {
		width: 150px;
		display: inline-block;
	}

	.select-wrap {
		display: inline-block;
	}

	select {
		height: 28px;
		line-height: 1.5;
	}
}

.navbar-project .dropdown {
	display: inline-block;
}

.project-item.latest-build .left {
	margin-top: .9em;
}

.project-item.latest-build .status {
	margin-top: .22em;
}

.build-image {
	cursor: pointer;
}

.popover-content textarea {
	font-size: $font-size-small;
}

.delete-project {
	float: right;
	font-size: $font-size-base;
	position: relative;
    top: 1em;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;

    .glyphicon {
    	top: 2px;
    }
} 

.project-item {
	width: 100%;
	overflow: auto;
	border-bottom: 1px solid $table-border-color;
	background-color: $gray-lighter;
	padding: $panel-body-padding;

	.main {
		position: relative;
		overflow: auto
	}

	&.jumbo {
		background-color: $gray-lighter;
	}

	h3, h2, h4 {
		margin-top: 0;
	}

	.status {
		font-size: 60px;
		color: #4c1;
		width: 90px;
		margin-top: .05em;
		float: left;

		&.glyphicon-option-horizontal {
			color: yellow;
		}

		&.glyphicon-remove {
			color: #e05d44;
		}

		&.glyphicon-exclamation-sign {
			color: orange;
		}
	}

	.left {
		float: left;
		margin-top: .7em;

		a {
			text-decoration: none;
		}

		.glyphicon-cog {
			margin-right: 3px;
		}
	}

	.right {
		float: right;
		width: 460px;
		text-align: right;
		display: inline-block;
		vertical-align: middle;
	}

	.toolbar {
		margin-top: .8em;
	}

	.toolbar .btn {
		margin-top: .5em;
	}

	.toolbar a:last-child {
		margin-right: 0;
	}

	.expand {
		vertical-align: middle;
		text-decoration: none;
	}

	.toolbar .glyphicon, .toolbar .icomoon, .toolbar .icon-logo {
		margin-left: $caret-width-base;
		margin-right: 0;
	}

	.btn {
		margin-right: 4px;
		background-color: #fff;
	}

	.build-details {
		margin-top: $panel-body-padding;
		background-color: #000;
		overflow: auto;
	}

	.build-details .containers {
		background-color: $gray-lighter;
		float: left;
		padding-left: $panel-body-padding;
		width: 25%;

		h4 {
			margin-top: 0;
		}

		li {
			list-style-type: none;
		}
	}

	.build-details .output {
		background-color: #000;
		color: #fff;
		padding: $panel-body-padding;
	}

	.build-details .subnav {
		text-align: right;
		padding: 0;
		margin-top: $padding-large-vertical;
		margin-bottom: $padding-large-vertical;
		margin-right: $panel-body-padding;

		li {
			padding-left: $padding-small-horizontal;
			display: inline-block;
			list-style-type: none
		}
	}
}

@media (max-width : $screen-sm) {
	.projects-nav {
		display: none;
	}
	
	.project-title {
		display: block;
	}

	.project-header {
		overflow: auto;
	}

	.project-header.page-header .breadcrumb-link {
		display: none; 
	}

	.project-item .right {
		float: none;
		width: 100%;
		text-align: center;
		display: block;
	}

	.project-item .left {
		float: none;
		width: 100%;
		text-align: center;
		display: block;
	}

	.project-item .status {
		float: none;
		height: 20px;
		width: 100%;
		background-color: #4c1;

		&.glyphicon-option-horizontal {
			background-color: yellow;

			&:before {
				display: none
			}
		}

		&.glyphicon-remove {
			background-color: #e05d44;

			&:before {
				display: none
			}
		}

		&.glyphicon-exclamation-sign {
			background-color: orange;

			&:before {
				display: none
			}
		}

		&:before {
			display: none;
		}
	}
}