.steps {
    margin-bottom: 60px;

    h2 {
        margin-bottom: 25px;
    }

	.glyphicon {
        margin-right: 10px;
        top: 5px;
    }

    .glyphicon-fast-forward {
        position: absolute;
        right: -25px;
        top: 50%;
        font-size: 45px;
        opacity: 0.2;
        color: #73d0f0;
    }

    .col-md-4 {
        padding: 0 75px;

        &:first-child {
            padding-left: 45px;
            padding-right: 95px;
        }
    }
}

.steps-separator {
    border-bottom: 20px solid #03739C;
}
