.steps {
    padding-bottom: 60px;

    .row {
        margin-top: 2.2em;
    }

    h2 {
        margin-bottom: 25px;
    }

	.glyphicon {
        margin-right: 10px;
        top: 5px;
    }

    .glyphicon-fast-forward {
        position: absolute;
        right: -25px;
        top: 50%;
        font-size: 45px;
        color: $logo-blue;
    }

    .col-md-4 {
        padding: 0 75px; 

        &:first-child {
            padding-left: 45px;
            padding-right: 95px;
        }
    }
}

.steps-wrapper {
    background-color: $gray-lighter;
}

@media (max-width : $screen-sm) {
    .steps .glyphicon-fast-forward {
        display: none;
    }

    .steps .col-md-4 {
        padding: 0 15px;

        &:first-child {
            padding: 0 15px;
        }
    }
}